<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KH ROOMMOAH</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/91f9609a45.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/resources/teo/favicon-16x16.png}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/notice/noticeDetailView.css}">
    <script th:src="@{/js/notice/noticeDetailView.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/menubar.css}">
    <script th:src="@{/js/menubar.js}"></script>
</head>
<body>
<!-- Include menubar -->
<div th:replace="~{/menubar :: menubar}"></div>

<div id="notice-wrapper">
    <h2>
        <span style="color: #927f69; cursor:pointer" th:onclick="|location.href='@{/notice?cpage=1}'|">공지사항</span>
    </h2>

    <div id="main">
        <div id="notice-view">
            <div id="title-area">
                <div id="title" th:text="${notice?.noticeTitle}"></div>
                <div id="writer-info">
                    <span th:text="${notice?.noticeWriter}"></span>
                    <span th:text="${notice?.createDate}"></span>
                </div>
            </div>

            <div id="content-area">
                <div id="ud-de" align="right">
                    <a th:if="${loginUser != null and (loginUser.userId == notice.noticeWriter or loginUser.admin == 'Y')}"
                       th:href="@{/update(noticeNo=${notice?.noticeNo})}" id="a1">수정하기</a>
                    <a th:if="${loginUser != null and (loginUser.userId == notice.noticeWriter or loginUser.admin == 'Y')}"
                       href="#" id="cancelButton">삭제하기</a>
                </div>

                <div id="txt">
                    <div th:if="${noticeAttachment != null}" id="img-area">
                        <img th:src="@{${noticeAttachment.filePath + noticeAttachment.changeName}}" id="img-content">
                    </div>
                    <div>
                        <p th:text="${notice?.noticeContent}"></p>
                    </div>
                </div>
            </div>
        </div>

        <div id="reply-count-area">
            댓글 <span id="reply-count"></span>
        </div>

        <div id="reply-area">
            <div id="reply-list"></div>

            <div id="reply-input">
                <textarea th:if="${loginUser != null}" id="reply-content" cols="80" rows="20" placeholder="내용을 입력해주세요"></textarea>
                <textarea th:if="${loginUser == null}" id="reply-content" cols="80" rows="20" placeholder="댓글을 입력하시려면 로그인 해주세요" readonly></textarea>
            </div>
        </div>

        <div id="btn-area">
            <button id="btn1" th:onclick="|location.href='@{/notice?cpage=1}'|">목록보기</button>

            <button id="btn2" th:if="${minNoticeNo != notice?.noticeNo}"
                    th:onclick="|location.href='@{/detail.no?num={num}&pre=pre}'|"
                    th:param="num=${notice?.noticeNo - 1}">이전 글</button>

            <button id="btn3" th:if="${maxNoticeNo != notice?.noticeNo}"
                    th:onclick="|location.href='@{/detail.no?num={num}&next=next}'|"
                    th:param="num=${notice?.noticeNo + 1}">다음 글</button>

            <button id="btn4" th:disabled="${loginUser == null}" onclick="insertReply()">답글쓰기</button>
        </div>
    </div>
</div>

</body>
</html>
