<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
 id: method이름
 #{}:파라미터
 resultType:반환값
 CREATE SEQUENCE member_seq START WITH 1 INCREMENT BY 1;
 Enum타입은 제약조건이 자동으로 걸린다.

-->

<mapper namespace="com.toribro.space.repository.space.SpaceMapper"><!-- 자바 인터페이스랑 매핑-->


    <insert id="enrollSpace">

        <selectKey keyProperty="space.spaceNo" resultType="int" order="BEFORE">
            SELECT space_seq.NEXTVAL FROM dual
        </selectKey>

        insert into space (SPACE_NO,
                           SPACE_CAPACITY,
                           SPACE_PRICE,
                           SPACE_ENROLL_DATE,
                           SPACE_MODIFY_DATE,
                           SPACE_ADDRESS,
                           SPACE_CAUTION,
                           SPACE_DETAIL_ADDRESS,
                           SPACE_ENROLL_STATUS,
                           SPACE_INFORMATION,
                           SPACE_INTRODUCE,
                           SPACE_KIND,
                           SPACE_LOCATION,
                           SPACE_NAME,
                           SPACE_ONE_INTRODUCE,
                           SPACE_RESERVATION_STATUS,
                           SPACE_TAG,
                           SPACE_TEL,
                           USER_NO)
                           values(#{space.spaceNo},
                               #{space.spaceCapacity},
                               #{space.spacePrice},
                               current_date,
                               null,
                               #{space.spaceAddress},
                                #{space.spaceCaution},
                                #{space.spaceDetailAddress},
                                 'Y',
                                  #{space.spaceInformation},
                                  #{space.spaceIntroduce},
                                  #{space.spaceKind},
                                 #{space.spaceLocation},
                                  #{space.spaceName},
                                  #{space.spaceOneIntroduce},
                                  'N',
                                   #{space.spaceTag},
                                  #{space.spaceTel},
                                 #{userNo})
    </insert>

    <insert id="attachmentSave">

        <selectKey keyProperty="fileNo" resultType="int" order="BEFORE">
            SELECT file_seq.NEXTVAL FROM dual
        </selectKey>

       insert into  attachment (FILE_NO,
                                CHANGE_NAME,
                                ORIGIN_NAME,
                                FILE_PATH,
                                FILE_STATUS,
                                UPLOAD_DATE,
                                FILE_LEVEL,
                                SPACE_NO)
                     values(#{fileNo},
                         #{attachment.changeName},
                         #{attachment.originName},
                         #{attachment.filePath},
                         'Y',
                         CURRENT_DATE,
                         #{attachment.fileLevel},
                         #{spaceNo})
    </insert>

<!--    <select id="getSpaces" parameterType="SpaceAttachment">-->
<!--            SELECT A.SPACE_NO,SPACE_NAME,SPACE_ADDRESS,SPACE_TAG,-->
<!--                   SPACE_PRICE,SPACE_CAPACITY,FILE_PATH,ORIGIN_NAME,CHANGE_NAME-->
<!--            FROM SPACE S JOIN ATTACHMENT  A ON (S.SPACE_NO=A.SPACE_NO)-->
<!--            WHERE FILE_LEVEL=1 AND SPACE_ENROLL_STATUS ='Y'-->

<!--    </select>-->

    <select id="findSpaces"  resultType="SpaceThumbnail">
      SELECT *FROM (SELECT a.* ,
                        ROWNUM AS RN FROM(
                            SELECT A.SPACE_NO,SPACE_NAME,SPACE_ADDRESS,SPACE_TAG,
                                   SPACE_PRICE,SPACE_CAPACITY,FILE_PATH,ORIGIN_NAME,CHANGE_NAME
                            FROM SPACE S JOIN ATTACHMENT  A ON (S.SPACE_NO=A.SPACE_NO)
                            JOIN MEMBER M ON (M.USER_NO=S.USER_NO)
                            WHERE FILE_LEVEL=1 AND SPACE_ENROLL_STATUS ='Y' AND M.OUT_STATUS='N'
                            ORDER BY SPACE_NO DESC
                    )a)
      WHERE RN BETWEEN #{startRow} and #{endRow}
    </select>

    <select id="getCount" resultType="int">
        SELECT COUNT(*) FROM SPACE S JOIN MEMBER M ON (M.USER_NO=S.USER_NO) WHERE M.OUT_STATUS='N' AND S.SPACE_ENROLL_STATUS ='Y'
    </select>

    <select id="findSpaceByNo" resultType="SpaceDetail">

        SELECT SPACE_NO,
               SPACE_CAPACITY,
               SPACE_PRICE,
               SPACE_ENROLL_DATE,
               SPACE_ADDRESS,
               SPACE_CAUTION,
               SPACE_DETAIL_ADDRESS,
               SPACE_INFORMATION,
               SPACE_INTRODUCE,
               SPACE_KIND,
               SPACE_LOCATION,
               SPACE_NAME,
               SPACE_ONE_INTRODUCE,
               SPACE_TAG,
               SPACE_TEL,
               USER_NO
        FROM SPACE
         WHERE SPACE_NO =#{spaceNo}
                   AND SPACE_ENROLL_STATUS ='Y'


    </select>

    <select id="findAttachmentByNo" resultType="Attachment">
        SELECT    FILE_NO,
                       CHANGE_NAME,
                       ORIGIN_NAME,
                       FILE_PATH,
                       FILE_LEVEL
             FROM ATTACHMENT
              WHERE SPACE_NO=#{spaceNo}
              AND  FILE_LEVEL != 1 AND FILE_STATUS='Y'

    </select>

    <update id="updateSpace" >
            UPDATE SPACE SET SPACE_MODIFY_DATE =  CURRENT_DATE
                <choose>
                    <when test="update.spaceName!=''">
                        ,SPACE_NAME=#{update.spaceName}
                    </when>
                    <when test="update.spaceKindValues!=''">
                        ,SPACE_KIND=#{update.spaceKindValues}
                    </when>
                    <when test="update.spaceOneIntroduce!=''">
                        ,SPACE_ONE_INTRODUCE=#{update.spaceOneIntroduce}
                    </when>
                    <when test="update.spaceIntroduce!=''">
                        ,SPACE_INTRODUCE=#{update.spaceIntroduce}
                    </when>
                    <when test="update.spaceTags!='' ">
                        ,SPACE_TAG=#{update.spaceTags}
                    </when>
                    <when test="update.spaceAddress!=''">
                        ,SPACE_ADDRESS=#{update.spaceAddress}
                    </when>

                    <when test="update.spaceDetailAddress!=''">
                        ,SPACE_DETAIL_ADDRESS=#{update.spaceDetailAddress}
                    </when>
                    <when test="update.spaceTel!=''">
                        ,SPACE_TEL=#{update.spaceTel}
                    </when>

                    <when test="update.spacePrice!=0">
                        ,SPACE_PRICE=#{update.spacePrice}
                    </when>

                    <when test="update.spaceCapacity!=0">
                        ,SPACE_CAPACITY=#{update.spaceCapacity}
                    </when>

                    <when test="update.spaceInformation!=''">
                        ,SPACE_INFORMATION=#{update.spaceInformation}
                    </when>

                    <when test="update.spaceCaution!=''">
                        ,SPACE_CAUTION=#{update.spaceCaution}
                    </when>

                    <when test="update.spaceLocation!=''">
                        ,SPACE_LOCATION=#{update.spaceLocation}
                    </when>

                </choose>
            WHERE SPACE_NO = #{spaceNo}
    </update>

    <update id="deleteSpace">
            UPDATE SPACE SET SPACE_ENROLL_STATUS ='N'
                         WHERE SPACE_NO = #{spaceNo}
    </update>

</mapper>