<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
 id: method이름
 #{}:파라미터
 resultType:반환값
 CREATE SEQUENCE member_seq START WITH 1 INCREMENT BY 1;
 Enum타입은 제약조건이 자동으로 걸린다.

-->

<mapper namespace="com.toribro.space.repository.space.SpaceMapper"><!-- 자바 인터페이스랑 매핑-->


    <insert id="enrollSpace" parameterType="Space">

        <selectKey keyProperty="space.spaceNo" resultType="int" order="BEFORE">
            SELECT space_seq.NEXTVAL FROM dual
        </selectKey>

        insert into space (SPACE_NO,
                           SPACE_CAPACITY,
                           SPACE_PRICE,
                           SPACE_ENROLL_DATE,
                            SPACE_ADDRESS,
                           SPACE_CAUTION,
                           SPACE_DETAIL_ADDRESS,
                           SPACE_ENROLL_STATUS,
                           SPACE_INFORMATION,
                           SPACE_INTRODUCE,
                           SPACE_KIND,
                           SPACE_LOCATION,
                           SPACE_NAME,
                           SPACE_ONE_INTRODUCE,
                           SPACE_RESERVATION_STATUS,
                           SPACE_TAG,
                           SPACE_TEL,
                           USER_NO)
                           values(#{space.spaceNo},
                               #{space.spaceCapacity},
                               #{space.spacePrice},
                               current_date,
                               #{space.spaceAddress},
                                #{space.spaceCaution},
                                #{space.spaceDetailAddress},
                                 'Y',
                                  #{space.spaceInformation},
                                  #{space.spaceIntroduce},
                                  #{space.spaceKind},
                                 #{space.spaceLocation},
                                  #{space.spaceName},
                                  #{space.spaceOneIntroduce},
                                  'N',
                                   #{space.spaceTag},
                                  #{space.spaceTel},
                                 #{userNo})
    </insert>

    <insert id="attachmentSave" parameterType="Attachment">

        <selectKey keyProperty="fileNo" resultType="int" order="BEFORE">
            SELECT file_seq.NEXTVAL FROM dual
        </selectKey>

       insert into  attachment (FILE_NO,CHANGE_NAME,ORIGIN_NAME,FILE_PATH,FILE_STATUS,UPLOAD_DATE,FILE_LEVEL,SPACE_NO)
       values(#{fileNo},#{attachment.changeName},#{attachment.originName},#{attachment.filePath},'Y',CURRENT_DATE,#{attachment.fileLevel},#{spaceNo})
    </insert>

<!--    <select id="getSpaces" parameterType="SpaceAttachment">-->
<!--            SELECT A.SPACE_NO,SPACE_NAME,SPACE_ADDRESS,SPACE_TAG,-->
<!--                   SPACE_PRICE,SPACE_CAPACITY,FILE_PATH,ORIGIN_NAME,CHANGE_NAME-->
<!--            FROM SPACE S JOIN ATTACHMENT  A ON (S.SPACE_NO=A.SPACE_NO)-->
<!--            WHERE FILE_LEVEL=1 AND SPACE_ENROLL_STATUS ='Y'-->

<!--    </select>-->

    <select id="getSpaces" parameterType="int">
      SELECT *FROM (SELECT a.* ,
                        ROWNUM AS RN FROM(
                            SELECT A.SPACE_NO,SPACE_NAME,SPACE_ADDRESS,SPACE_TAG,
                                   SPACE_PRICE,SPACE_CAPACITY,FILE_PATH,ORIGIN_NAME,CHANGE_NAME
                            FROM SPACE S JOIN ATTACHMENT  A ON (S.SPACE_NO=A.SPACE_NO)
                            WHERE FILE_LEVEL=1 AND SPACE_ENROLL_STATUS ='Y'
                            ORDER BY SPACE_NO DESC
                    )a)
      WHERE RN BETWEEN #{startRow} and #{endRow}
    </select>

    <select id="getCount" parameterType="int">
        SELECT COUNT(*) FROM SPACE
    </select>




</mapper>