<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KH ROOMMOAH</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/91f9609a45.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/resources/teo/favicon-16x16.png}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/member/memberFindPassWord.css}">
    <script th:src="@{/js/member/memberFindPassWord.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/menubar.css}">
    <script th:src="@{/js/menubar.js}"></script>
</head>

<body>

<div th:replace="~{/menubar :: menubar}"></div>

<div id="wrapper">
    <div class="pwd-top">
        <h2>비밀번호 찾기</h2>
    </div>

    <div class="pwd-body">
        <div class="pwd-logo">
            <h1>KH ROOMMOAH</h1>
        </div>

        <form th:action  th:method="post">
            <div class="member-pwd">
                <input type="text" id="userId" name="userId" placeholder="&#32;&#32; 아이디" th:value="${userId}">
                <br>
                <input type="text" id="phone" name="phone" placeholder="&#32;&#32; 전화번호(-입력)" th:value="${phone}">
                <br>
                <input type="email" id="email" name="email" placeholder="&#32;&#32; 이메일" th:value="${email}">
            </div>
            <div class="send-email" th:if="${sendEmail}">
                *이메일로 비밀번호 전송하였습니다.
            </div>
            <input type="submit" class="userpwd" value="확 인" onclick="return finduser();">
            <div id="go-login">
                <a th:href="@{/member/login}" id="go-login-a" class="atext">로그인페이지 이동</a>
            </div>
        </form>
        <br>
        <table id="or-area">
            <tr>
                <td class="line">
                    <hr>
                </td>
                <td align="center"><b>또는</b></td>
                <td class="line">
                    <hr>
                </td>
            </tr>
        </table>

        <div class="find-user-info">
            <h7>계정이 없으신가요?</h7>
            <a th:href="@{/member/join}" id="join-user" class="atext">회원가입</a>
        </div>
    </div>
</div>

</body>

</html>
