#wrapper {
    width: 1200px;
    margin: auto;
}

.login-top {
    background: #704DE4;
    width: 400px;
    height: 65px;
    border-radius: 20px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.mypage-header {
    line-height: 65px;
    font-weight: bold;
    color: white;
    margin-bottom: 100px;
}

.user-info-area {
    margin: auto;
    width: 700px;
    height: 500px;
    padding: 20px;
    background: #F2F6FF;
    border-radius: 20px;
}

table {
    width: 100%;
}

.tb-header>th {
    padding-bottom: 20px;
}

th {
    text-align: center;
    font-size: 22px;
    width: 50%;
}

td {
    text-align: center;
    font-size: 20px;
    line-height: 60px;
    font-weight: 700;
}

#edit-user {
    text-decoration: none;
    color: rgb(77, 100, 228);
}

#edit-user:hover {
    opacity: 0.7;
}

#bottom-area {
    height: 100px;
    width: 600px;
    display: flex;
    margin: auto;
    padding: 40px 100px;
    justify-content: space-between;
}

#Reservation_details {
    height: 42px;
    width: 150px;
    background: #704DE4;
    border-radius: 10px;
    text-align: center;
    line-height: 35px;
    color: white;
    text-decoration: none;
}

#Reservation_details:hover {
    opacity: 0.8;
}

#secession {
    border: 0;
    height: 40px;
    width: 150px;
    background: #f84242;
    border-radius: 10px;
    color: white;
    margin-bottom: 100px;
}

#secession:hover {
    opacity: 0.8;
}