#wrapper {
    width: 1200px;
    margin: auto;
}

tr>th {
    font-size: 20px;
}

table {
    margin-top: 20px;
}

.join-user {
    margin: auto;
    margin-top: 120px;
    width: 600px;
    height: 100%;
    /* height: 850px; */
    border: 1px solid #212529;
    border-radius: 20px;
    background: #F2F6FF;
    padding: 30px;
    margin-bottom: 100px;
}

.text-header {
    font-weight: 600;
    font-size: 25px;
}

.text-header2 {
    font-size: 20px;
    color: #676262;
    font-weight: bold;
}


.user-id {
    font-weight: bold;
    font-size: 15px;
}

.user-id td {
    display: none;
    font-size: 13px;
}

.cantid {
    color: red;
}

.useableid {
    color: #34B407;
}

.cantPwd {
    font-size: 13px;
    color: red;
    font-weight: 600;
    display: none;
}

.cantPwdCheck {
    font-size: 13px;
    color: red;
    font-weight: 600;
    display: none;
}

.usealbePwd {
    font-size: 13px;
    color: #34B407;
    font-weight: 600;
    display: none;
}

td>input {
    width: 100%;
    height: 45px;
    background: #EEEEEE;
    border-radius: 5px;
    border: 0;
    margin-bottom: 15px;
}

[type="radio"]:checked {
    border: 0.4em solid rgb(109, 72, 212);
}

[type="radio"] {
    /* vertical-align: middle; */

    appearance: none;
    border: max(2px, 0.1em) solid gray;
    border-radius: 50%;
    width: 1.25em;
    height: 1.25em;
    transition: border 0.2s ease-in-out;
    margin-top: 20px;
    margin-left: 55px;
}

.ck-gender {
    padding-right: 20px;
}

[type="email"] {
    width: 100%;
}

.u-email {
    width: 47.75%;
    height: 45px;
    background: #EEEEEE;
    border-radius: 5px;
    border: 0;
}

.email-header {
    font-size: 20px;
    font-weight: bold;
}

.select-email {
    width: 47.75%;
    height: 45px;
    background: #EEEEEE;
    border-radius: 5px;
    border: 0;
}

.btn-area {

    display: flex;
    margin-top: 30px;
    height: 60px;
    justify-content: space-between;
    padding: 0px 50px;

}

.join-btn {
    width: 200px;
    font-size: 25px;
    border: 0;
    border-radius: 8px;
    background: #704DE4;
    color: white;
}

.cancel {
    color: white;
    background: #f84242;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    line-height: 57px;
    font-size: 25px;

}

.cancel:hover {
    background-color: #a50000;
    text-decoration: none;
    color: white;
}

.join-btn:hover {
    background: #432c8d;
}

.input-pwd-check {
    padding-bottom: 30px;
}
.pwd-color{
    color: #c2c0c0;
}
#oldPwd-area{
    display: none;

}
.head-btn{
    border: 1px;
    color: #F2F6FF;
    height: 34px;
}

#hbtn1{
    /* background: rgb(96,9,240); */
    background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);
    border-radius: 5px;
}
#hbtn1:hover{
    opacity: 0.75;
}
#hbtn2{
    /* background: rgb(224, 54, 2); */
    background: linear-gradient(0deg, rgb(201, 1, 191) 0%, rgb(240, 5, 209) 100%);
    border-radius: 5px;
}
#hbtn2:hover{
    opacity: 0.75;
}