#wrapper {
    width: 1200px;
    margin: auto;
}

.pwd-top {
    margin: auto;
    background: #704DE4;
    width: 400px;
    height: 70px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;


}

.pwd-top h2 {
    color: #FFFFFF;
    text-align: center;
    margin-top: 7px;
    font-weight: 500;
    font-size: 25px;

}

.pwd-body {
    border: 1px solid gray;
    background: #F2F6FF;
    height: 550px;
    width: 540px;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;

}

h7 {
    color: #7B7676;
    font-weight: 500;
    margin-right: 10px;
    padding-left: 150px;
}

.pwd-body .pwd-logo h1 {
    font-family: 'ZCOOL KuaiLe';
    font-weight: bold;

}

.pwd-logo {
    padding: 30px;
    font-size: larger;
    text-align: center;
}

.member-pwd {
    margin-left: 50px;
    margin-right: 50px;

}

.member-pwd>input {
    margin-bottom: 5px;
}

input {
    height: 50px;
    width: 100%;
    border-radius: 10px;
    border-width: 0px;
    margin-bottom: 5px;
    background: #EEEEEE;
}

.userpwd {
    width: 300px;
    height: 50px;
    padding: 5px;
    background-color: #704DE4;
    color: #FFFFFF;
    /* font-weight: bold; */
    font-size: 25px;
    margin: 10px 120px;
}

.userpwd:hover {
    opacity: 0.85;
}




.find-user-info>.find-pwd {
    padding-left: 150px;
    margin: 5px;
}


.atext {
    text-decoration: none;
    font-size: 20px;
    color: #7B7676;
}

.find-pwd:hover {
    color: rgb(150, 159, 243);
    text-decoration: none;
    font-weight: bold;
}

#join-user {
    color: #6076AF;
}

#join-user:hover {
    font-weight: bold;
    text-decoration: none;
}

/* 이메일 전송 */
.send-email {
    /* display: none; */
    color: red;
    text-align: center;
}

#go-login {
    width: 300px;
    height: 50px;
    margin: auto;
    text-align: center;
    line-height: 50px;
}

#go-login-a {
    display: inline-block;
    height: 50px;
    width: 300px;
    color: white;
    border-radius: 10px;
    background: #704DE4;

}

#go-login-a:hover {
    opacity: 0.85;
    color: white;
    text-decoration: none;
}

#or-area {
    width: 100%;
}

.line {
    width: 47%;
}

.line>hr {
    text-align: center;
    width: 80%;
    border: 1.5px solid;
}